<%- include('../includes/header'); -%>

<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
    <!-- Side Overlay-->

    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Sidebar Scroll Container -->
        <div id="sidebar-scroll">
            <!-- Sidebar Content -->
            <div class="sidebar-content">

                <!-- Side Header -->
                <div class="side-header side-content bg-white-op">
                    <!-- Close Button in Mobile -->
                    <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
            <i class="fa fa-times"></i>
        </button>
                    <!-- Logo -->
                    <a class="h5 text-white" href="index.html">
            <img src="/images/favicons/favicon-16x16.png" style="margin-top: -4px;"> <span class="h4 font-w600 sidebar-mini-hide">Wstats</span>
        </a>
                </div>
                <!-- END Side Header -->

                <!-- Side Content -->
                <div class="side-content side-content-full">
                    <ul class="nav-main">

                        <li class="nav-main-heading"><span class="sidebar-mini-hide">Competitive</span></li>

                        <li>
                            <a href="base_pages_dashboard.html"><i class="fa fa-line-chart"></i><span class="sidebar-mini-hide">General</span></a>
                        </li>
                        <li>
                            <a href="base_pages_dashboard.html"><i class="fa fa-pie-chart"></i><span class="sidebar-mini-hide">Average</span></a>
                        </li>
                        <li>
                            <a href="base_pages_dashboard.html"><i class="fa fa-area-chart"></i><span class="sidebar-mini-hide">Heroes</span></a>
                        </li>

                        <li class="nav-main-heading"><span class="sidebar-mini-hide">Quickplay</span></li>

                        <li>
                            <a href="base_pages_dashboard.html"><i class="fa fa-line-chart"></i><span class="sidebar-mini-hide">General</span></a>
                        </li>
                        <li>
                            <a href="base_pages_dashboard.html"><i class="fa fa-pie-chart"></i><span class="sidebar-mini-hide">Average</span></a>
                        </li>
                        <li>
                            <a href="base_pages_dashboard.html"><i class="fa fa-area-chart"></i><span class="sidebar-mini-hide">Heroes</span></a>
                        </li>

                        <li class="nav-main-heading"><span class="sidebar-mini-hide">OWstats</span></li>

                        <li>
                            <a href="base_pages_dashboard.html"><i class="fa fa-bar-chart"></i><span class="sidebar-mini-hide">Database</span></a>
                        </li>

                    </ul>
                </div>
                <!-- END Side Content -->
            </div>
            <!-- Sidebar Content -->
        </div>
        <!-- END Sidebar Scroll Container -->
    </nav>
    <!-- END Sidebar -->

    <!-- Header -->
    <header id="header-navbar" class="content-mini content-mini-full">
        <!-- Header Navigation Left -->
        <ul class="nav-header pull-left">
            <li class="hidden-md hidden-lg">
                <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
        <i class="fa fa-navicon"></i>
    </button>
            </li>
            <li class="hidden-xs hidden-sm">
                <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
        <i class="fa fa-ellipsis-v"></i>
    </button>
            </li>
        </ul>
        <!-- END Header Navigation Left -->
    </header>
    <!-- END Header -->

    <!-- Main Container -->
    <main id="main-container">

        <!-- Page Header -->
        <div class="content bg-gray-lighter">
            <div class="row items-push">
                <div class="col-sm-7">
                    <h1 class="page-heading">
                        <%= title %> <small><%= description %></small>
                    </h1>
                </div>
                <div class="col-sm-5 text-right hidden-xs">
                    <ol class="breadcrumb push-10-t">
                        <li>
                            <%= breadcrumbTitle %>
                        </li>
                        <li>
                            <a class="link-effect" href="">
                                <%= breadcrumbPage %>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END Page Header -->

        <!-- Page Content -->
        <div class="content content-narrow"></div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->

    <%- include('../includes/main_footer', {now: now, startTime: startTime}); -%>

</div>
<!-- END Page Container -->

<%- include('../includes/footer', {chartjs: true}); -%>