<%- include('../includes/html_header'); -%>

    <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
        <%- include('../includes/main_sidebar', {url: url}); -%>

            <main id="main-container">
                <%- include('../includes/breadcrumb', {breadcrumb: breadcrumb}); -%>

                    <div class="content">
                        <div class="row">
                            <div class="col-lg-3">
                                 <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=12&theme=light" width="100%"
                                     style="height: 200px" frameborder="0"></iframe>
                             </div>
                             <div class="col-lg-3">
                                 <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=1&theme=light" width="100%"
                                     style="height: 200px" frameborder="0"></iframe>
                             </div>
                             <div class="col-lg-3">
                                 <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=2&theme=light" width="100%"
                                     style="height: 200px" frameborder="0"></iframe>
                             </div>
                             <div class="col-lg-3">
                                 <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=15&theme=light" width="100%"
                                     style="height: 200px" frameborder="0"></iframe>
                             </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=3&theme=light" width="100%"
                                    style="height: 500px" frameborder="0"></iframe>
                            </div>
                            <div class="col-lg-6">
                                <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=11&theme=light" width="100%"
                                    style="height: 500px" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=5&theme=light" width="100%"
                                    style="height: 200px" frameborder="0"></iframe>
                            </div>
                            <div class="col-lg-2">
                                <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=6&theme=light" width="100%"
                                    style="height: 200px" frameborder="0"></iframe>
                            </div>
                            <div class="col-lg-2">
                                <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=7&theme=light" width="100%"
                                    style="height: 200px" frameborder="0"></iframe>
                            </div>
                            <div class="col-lg-2">
                                <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=9&theme=light" width="100%"
                                    style="height: 200px" frameborder="0"></iframe>
                            </div>
                            <div class="col-lg-2">
                                <iframe x-src="https://overwatch.wdkgaming.de/grafana/dashboard-solo/db/admin?orgId=1&panelId=8&theme=light" width="100%"
                                    style="height: 200px" frameborder="0"></iframe>
                            </div>
                            <div class="col-lg-2">
                                <iframe x-src="https://overwatch.wdkgaming.de/grafana/d-solo/000000004/admin?orgId=1&panelId=13&theme=light" width="100%"
                                    style="height: 200px" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>

            </main>
            <%- include('../includes/main_footer', {footer: footer}); -%>
    </div>

    <%- include('../includes/html_footer'); -%>
