<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>OWSTATS - Advanced Overwatch Stats</title>

    <meta name="description" content="OWSTATS is a private statistics website for overwatch stats.">
    <meta name="author" content="Jochen Pylypiw">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" id="css-main" href="/stylesheets/oneui.css">
</head>

<body>
    <!-- Page Container -->
    <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
        <!-- Side Overlay-->

        <!-- Sidebar -->
        <nav id="sidebar">
            <!-- Sidebar Scroll Container -->
            <div id="sidebar-scroll">
                <!-- Sidebar Content -->
                <div class="sidebar-content">

                    <!-- Side Header -->
                    <div class="side-header side-content bg-white-op">
                        <!-- Close Button in Mobile -->
                        <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                            <i class="fa fa-times"></i>
                        </button>
                        <!-- Logo -->
                        <a class="h5 text-white" href="index.html">
                            <img src="/images/favicons/favicon-16x16.png" style="margin-top: -4px;"> <span class="h4 font-w600 sidebar-mini-hide">Wstats</span>
                        </a>
                    </div>
                    <!-- END Side Header -->

                    <!-- Side Content -->
                    <div class="side-content side-content-full">
                        <ul class="nav-main">

                            <li class="nav-main-heading"><span class="sidebar-mini-hide">Competitive</span></li>

                            <li>
                                <a href="base_pages_dashboard.html"><i class="fa fa-line-chart"></i><span class="sidebar-mini-hide">General</span></a>
                            </li>
                            <li>
                                <a href="base_pages_dashboard.html"><i class="fa fa-pie-chart"></i><span class="sidebar-mini-hide">Average</span></a>
                            </li>
                            <li>
                                <a href="base_pages_dashboard.html"><i class="fa fa-area-chart"></i><span class="sidebar-mini-hide">Heroes</span></a>
                            </li>

                            <li class="nav-main-heading"><span class="sidebar-mini-hide">Quickplay</span></li>

                            <li>
                                <a href="base_pages_dashboard.html"><i class="fa fa-line-chart"></i><span class="sidebar-mini-hide">General</span></a>
                            </li>
                            <li>
                                <a href="base_pages_dashboard.html"><i class="fa fa-pie-chart"></i><span class="sidebar-mini-hide">Average</span></a>
                            </li>
                            <li>
                                <a href="base_pages_dashboard.html"><i class="fa fa-area-chart"></i><span class="sidebar-mini-hide">Heroes</span></a>
                            </li>

                            <li class="nav-main-heading"><span class="sidebar-mini-hide">OWstats</span></li>

                            <li>
                                <a href="base_pages_dashboard.html"><i class="fa fa-bar-chart"></i><span class="sidebar-mini-hide">Database</span></a>
                            </li>

                        </ul>
                    </div>
                    <!-- END Side Content -->
                </div>
                <!-- Sidebar Content -->
            </div>
            <!-- END Sidebar Scroll Container -->
        </nav>
        <!-- END Sidebar -->

        <!-- Header -->
        <header id="header-navbar" class="content-mini content-mini-full">
            <!-- Header Navigation Left -->
            <ul class="nav-header pull-left">
                <li class="hidden-md hidden-lg">
                    <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                        <i class="fa fa-navicon"></i>
                    </button>
                </li>
                <li class="hidden-xs hidden-sm">
                    <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </li>
            </ul>
            <!-- END Header Navigation Left -->
        </header>
        <!-- END Header -->

        <!-- Main Container -->
        <main id="main-container">

            <!-- Page Header -->
            <div class="content bg-gray-lighter">
                <div class="row items-push">
                    <div class="col-sm-7">
                        <h1 class="page-heading">
                            <%= title %> <small><%= description %></small>
                        </h1>
                    </div>
                    <div class="col-sm-5 text-right hidden-xs">
                        <ol class="breadcrumb push-10-t">
                            <li>
                                <%= breadcrumbTitle %>
                            </li>
                            <li>
                                <a class="link-effect" href="">
                                    <%= breadcrumbPage %>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- END Page Header -->

            <!-- Page Content -->
            <div class="content content-narrow"></div>
            <!-- END Page Content -->
        </main>
        <!-- END Main Container -->


        <!-- <h1>
            <%= title %>
        </h1>
        <p>Welcome to
            <%= title %>
        </p> -->

        <!-- Footer -->
        <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
            <div class="pull-right">
                Made with <i class="fa fa-heart text-city"></i> by <a href="https://wdkgaming.de" target="_blank">WDKGaming</a>
            </div>
            <div class="pull-left">
                <a class="font-w600" href="http://goo.gl/6LF10W" target="_blank">OneUI 3.2</a> &copy; <span class="js-year-copy"></span>
            </div>
        </footer>
        <!-- END Footer -->

    </div>
    <!-- END Page Container -->

    <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
    <script src="/javascripts/core/jquery.min.js"></script>
    <script src="/javascripts/core/bootstrap.min.js"></script>
    <script src="/javascripts/core/jquery.slimscroll.min.js"></script>
    <script src="/javascripts/core/jquery.scrollLock.min.js"></script>
    <script src="/javascripts/core/jquery.appear.min.js"></script>
    <script src="/javascripts/core/jquery.countTo.min.js"></script>
    <script src="/javascripts/core/jquery.placeholder.min.js"></script>
    <script src="/javascripts/core/js.cookie.min.js"></script>
    <script src="/javascripts/app.js"></script>

    <!-- Page JS Plugins -->
    <script src="/javascripts/plugins/chartjsv2/Chart.min.js"></script>

    <!-- Page JS Code -->
    <script src="/javascripts/chartjs_v2.js"></script>
</body>

</html>